page-dashboard {
  .scroll-content{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 16px;
  }

  ion-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    height: 2.75em;
    color: white;
    .left{
      display: flex;
      align-items: center;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      text-decoration: none;

      img{
        height: 40px;
        width: 40px;
        margin-left: .6rem;
        vertical-align: baseline;
        border-radius: 50%;
      }
      & > .name{
        font-size: 72%;
        line-height: 1;
        padding-left: .6rem;
        .name {
          text-transform: capitalize;
          color: white;
        }
        .company {
          font-weight: 700;
          color: white;
          opacity: .5;
          font-size: .75rem;
          line-height: 1.5;
        }
      }
    }
    .right{
      display: flex;
      align-items: center;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 1rem;
      background-color: transparent;
      text-decoration: none;
      .fa{
        text-decoration: none;
        color: white;
        vertical-align: baseline;
      }
    }
    @media only screen
    and (min-device-width : 375px)
    and (max-device-width : 812px)
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : portrait) {
      height: 3em;
      > a {
        margin-top: 0.5rem;
      }
    }
  }

  .logo{
    text-align: center;
    margin-bottom: .6rem;
    margin-top: 10px;
    img{
      width: 33.333%;
      max-width: 100%;
      height: auto;
      border: 0;
    }
    p{
      font-size: 9.6px;
      color: #fff;
    }
  }

  .out-circle{
    width: 75%;
    margin: 0 auto;
    padding: .6rem;
    border-radius: 50%;
    border: 1px solid white;
    .inner-circle{
      padding-top: 100%;
      border-radius: 50%;
      border: 3px dashed white;
      position: relative;
      .balance{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        text-decoration: none;
        .value{
          font-size: 3.6rem;
          line-height: 1.25;
          color: white;
          font-weight: 500;
          font-family: "-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
        }
        .label{
          font-size: .75rem;
          color: white;
          text-transform: uppercase;
          font-weight: 500;
          font-family: "-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
          line-height: 1.2;
        }
      }
    }
  }

  .bottom{
    background-color: #282A2D;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    border-top: 1px solid rgba(255,255,255,.4);
    justify-content: space-around;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
  }

  .badge{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 9.6px;
    border-radius: 20em;
    padding: .6rem;
    color: white;
    margin-bottom: 20px;
    text-decoration: none;
    &.blue{
      background-color: #4A90E2;
    }
    &.green{
      background-color: #31BF5F;
    }
    &.black{
      background-color: black;
    }
  }

  table{
    margin-bottom: 20px;
    width: 100%;
  }

  .video-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background: rgba(0,0,0,.7);
    .video-modal-close {
      position: absolute;
      display: block;
      width: 50px;
      height: 50px;
      top: 75px;
      right: 10px;
      background-color: black;
      border-radius: 50%;
      text-align: center;
      &::after{
        content: '\00D7';
        font-size: 26px;
        font-weight: 400;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        color: white;
        line-height: 50px;
        width: 50px;
      }
    }
    video {
      width: 100%;
      height: 100%;
    }
  }
}
