page-referral-details {
  .scroll-content{
    .question {
      .question {
        font-weight: 500;
        color: #7F8A97;
        text-align: left;
        font-size: 14px;
        margin-top: 30px;
        margin-bottom: 9px;
        position: relative;
      }
    }
  }


}
