page-service-categories {
  .scroll-content {
    background-color: #EFEFEF;
    background-image: none;
    padding: 0 !important;
  }

  .search-container {
    background-color: rgb(10, 156, 145);
    padding: 10px;
    position: relative;
    .fa {
      position: absolute;
      top: 18px;
      left: 16px;
      font-size: 16px;
      color: white;
      opacity: .6;
    }
    input {
      background-color: rgb(62, 169, 159);
      border: 0;
      width: 100%;
      padding: 5px 10px 5px 30px;
      border-radius: .15rem;
      font-size: 14px;
      &::placeholder {
        color: white;
        opacity: .6;
        font-weight: 500;
      }
    }
  }

  .container {
    padding: 15px;

    .gray-button {
      background: rgba(0,0,0,.125);
      font-weight: 500;
      text-decoration: none;
      padding: .6rem;
      border-radius: .15rem;
      display: block;
      width: 100%;
      color: rgb(73, 79, 84);
      font-size: 16px;
      text-align: center;
    }

    ul.list{
      padding: 0;
      display: block;
      color: #494F54;
      list-style-type: none;
      border-radius: 4px;
      overflow: hidden;
      margin: 0;
      border-bottom: 1px solid #b2b2b2;

      & > li {
        border: 1px solid #b2b2b2;
        border-bottom: 0;
        background-color: #f8f8f8;
        color: #444;
        align-items: center;
        padding: 0;
        color: #494F54;
        font-size: 16px;
        min-height: 45px;
        position: relative;

        &.active {
          background-color: rgba(0,0,0,.7);
          a {
            color: white;
          }
          .fa{
            color: white;
          }
        }

        & > a {
          margin-right: 20px;
          color: #494F54;
          text-decoration: none;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          height: 45px;
          padding: 14px 8px;
          vertical-align: middle;
          display: block;
          font-size: 16px;
          font-weight: 500;
        }

        .fa{
          position: absolute;
          top: 16px;
          right: 10px;
          color: #494F54;
          font-size: 15px;
        }

        & > div {
          font-size: .875rem;
          background-color: white;
          padding: 10px;

          .header {
            position: relative;
            padding: 5px 30px;

            .fa {
              position: absolute;
              top: 6px;
              left: 0;
              color: #494F54;
              &.red {
                color: #F9685F;
              }
            }
            .title {
              font-size: .875rem;
              font-weight: 500;
            }
            .select-button {
              position: absolute;
              right: 0;
              top: 0;
              border: 1px solid rgba(0,0,0,.125);
              border-radius: .15rem;
              padding: .3rem .6rem;
              color: #494F54;
              font-weight: 500;
              &.selected{
                background-color: #00d1c1;
                color: white;
              }
            }
          }
          .blurb {
            padding-top: 1.4rem;
            font-weight: 700;
            color: #494F54;
            text-align: center;
          }
          .description {
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-right: .6rem;
            padding-left: .6rem;
            color: #494F54;
            font-size: .875rem;
            font-family: 'Helvetica', Arial, sans-serif;
            white-space: pre-wrap;
          }
          video {
            width: 100%;
          }
        }
      }
    }
  }

  .bottom-button {
    color: #494F54;
    background-color: #00d1c1;
    color: #fff;
    padding: .96rem 2.4rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    text-align: center;
  }
}
