page-forgot-password {
  .scroll-content{
    justify-content: center;
    flex-direction: column;
    display: flex;

    .logo{
      text-align: center;
      margin-bottom: 2rem;
      img{
        width: 41.66667%;
        max-width: 100%;
        height: auto;
        border: 0;
      }
      p{
        font-size: 9.6px;
        color: #fff;
      }
    }

    form {
      min-height: auto !important;
    }
  }
}
