<ion-header></ion-header>

<ion-content city-bg>
  <div class="logo">
    <img src="assets/imgs/catex-logo.png">
    <p>The professional referral app</p>
  </div>

    <!-- form -->
  <form
    method="post"
    novalidate=""
    (ngSubmit)="submit()"
    name="form.loginForm"
    #form="ngForm"
  >

    <input
      type="email"
      name="email"
      [(ngModel)]="auth.email"
      placeholder="Email Address"
      required
      [email]="true"
      #email="ngModel"
    />

    <div role="alert" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required" class="error">Please enter a value for this field.</div>
      <div *ngIf="email.errors.email" class="error">This field must be a valid email address.</div>
    </div>


    <button
      class="submit-button"
      type="submit"
      ng-disabled="!connection.online"
    >
      Submit
    </button>

    <div
      *ngIf="form_error"
      class="error"
    >
      {{form_error}}
    </div>

    <a
      (click)="goBack()"
      class="transparent-rounded-button"
    >
      cancel
    </a>
  </form>

</ion-content>
