page-withdrawal-history-filters{
  .scroll-content{
    background-color: #EFEFEF;
    background-image: none;
    padding: 1rem;
  }

  p {
    line-height: 1.5;
    padding-bottom: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: .875rem;
    font-weight: 500;
    font-family: "-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
    color: rgb(73, 79, 84);
  }

  ion-item {
    padding-left: 0 !important;
    min-height: 2.75rem !important;

    ion-label {
      background-color: white;
      position: relative;
      margin-bottom: .6rem;
      padding: .6rem;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.42857;
      text-align: left;
      color: #494F54 !important;
      margin: 0 !important;
    }
    .radio-icon {
      width: 24px !important;
      height: 24px !important;
      border: 6px solid #aaa !important;
      border-radius: 30px;
      &.radio-checked {
        border-color: #00d1c1 !important;
      }
      .radio-inner {
        display: none;
      }
    }
  }

}
