page-forgot-password-thanks {
  .scroll-content{
    .logo{
      text-align: center;
      margin-bottom: 2rem;
      img{
        width: 41.66667%;
        max-width: 100%;
        height: auto;
        border: 0;
      }
      p{
        font-size: 9.6px;
        color: #fff;
      }
    }

    .title{
      color: #fff;
      text-align: center;
      font-size: 1rem;
    }

    .text{
      color: #fff;
      text-align: center;
      font-size: .75rem;
      margin-bottom: 4rem;
      margin-top: 10px;
    }
  }
}
