page-faq {
  .scroll-content {
    padding: 15px;
    background-color: #EFEFEF;
    background-image: none;
  }

  ul.list{
    padding: 0;
    display: block;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #494F54;
    list-style-type: none;
    border-radius: 4px;
    overflow: hidden;
    margin: 0;

    & > li {
      border: 1px solid #b2b2b2;
      border-bottom: 0;
      &:last-child {
        border-bottom: 1px solid #b2b2b2;
      }
      background-color: #f8f8f8;
      color: #444;
      align-items: center;
      padding: 0;
      color: #494F54;
      font-size: 16px;
      min-height: 45px;
      position: relative;

      &.active {
        background-color: #e5e5e5;
      }

      a {
        margin-left: 20px;
        color: #494F54;
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 45px;
        padding: 14px 8px;
        vertical-align: middle;
        display: block;
      }

      .fa{
        position: absolute;
        top: 16px;
        left: 10px;
        color: #494F54;
        font-size: 15px;
      }

      & > div {
        font-size: .875rem;
        background-color: white;
        padding: 10px 25px;

        p {
          padding: 0px;
          margin: 0px 0px 15px;

          white-space: normal;
          color: #666!important;
          font-size: 14px!important;

          font-weight: 500;
          font-family: "-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
          line-height: 1.2;
        }
        ul {
          list-style-type: circle;
          li {
            margin-bottom: 6px;
          }
        }
      }
    }
  }
}
